#board-container {
  height: 500px;
  width: 500px;
  background-color: black;
  gap: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  .cell {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    user-select: none;
  }
}
